*{
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    height: auto;
    max-width: 100%;
}


.nav_links{
    font-family: 'Open Sans', sans-serif;
    color: #9893A3;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    
}

.secondary_button{
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: solid 1px;
    color: #6C63FF;
    margin-right: 16px;
    font-family: 'Open Sans', sans-serif;
}

.primary_button{
    width: 140px;
    height: 50px;
    background-color: #6C63FF;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.hero_contant{
    padding: 41px 49px 41px 0px;
}

#section1{
    margin-top: 84px;
}

#section2{
    margin-top: 220px;
}

#section3{
    margin-top: 220px;
}

#section4{
    margin-top: 180px;
}

.title1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1px;
}

.title2{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -1px;
}

.title3{
    font-family: 'Playfair Display', serif;
    font-weight: 700px;
    font-size: 50px;
    line-height: 56px;
    color: white;
}

.information{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
    margin: 30px auto;
}

#section1 ul {
    margin-top: 48px;
    gap: 130px;
}

.pricing{
    text-align: center;
    margin-bottom: 90px;
}

.main_pricetag{
    background-color: #6C63FF;
    height: 502px;
    text-align: center;
}

.secondary_pricetag{
    background-color: #ECEBFF;
    height: 421px;
    text-align: center;
    
}

.starter{
    margin-top: 40px;
    font-weight: 400px;
    color:#717082 ;
    font-size: 18px;
    line-height: 26px;
}

.price{
    font-family: 'Open Sans', sans-serif;
    color: #2F2E41;
    font-weight: 700px;
    margin-top: 30px;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -2px;
}

.frame{
    list-style: none;
    margin-top: 30px;
    gap: 14px;
    font-weight: 400px;
    font-size: 18px;
    color:#717082 ;
    line-height: 26px;
}

.price_button1{
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: solid 1px;
    color: #6C63FF;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 30px;
}

.price_button2{
    width: 186px;
    height: 54px;
    background-color: white;
    border: solid 1px;
    color: #6C63FF;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
}

.mt70{
    margin-top: 70px;
}

.mt40{
    margin-top: 40;
}

.sub{
    font-weight: 400px;
    font-size: 18px;
}

.cwhite{
    color: white;
}

.contact_banner{
    background-color:#2F2E41 ;
    margin-bottom: 100px;
}

.p84{
    padding: 84px;
}

footer{
    width: 100%;
    height: auto;
    background-color: #ECEBFF;
}

.contacts{
    color: #2F2E41;
    font-weight: 600;
    margin-bottom: 20px;
}

.pt244{
    padding-top: 244px;
}

.bottom_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 78px;
   
}
.botom_information{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}